.container {
  background: radial-gradient(
    66.4% 49.55% at 61.92% 46.43%,
    rgba(20, 20, 100) 0%,
    rgba(4, 1, 34) 100%
  );
}

.content {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 60px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-left: 0px;
    padding-inline: 30px;
  }
  @media screen and (max-width: 1439px) {
    padding-left: 20px;
  }
}

.leftside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  @media screen and (max-width: 768px) {
    padding-top: 60px;
  }
  h2 {
    color: #fff;
    font-family: Syne;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 57px;
    @media screen and (max-width: 768px) {
      text-align: center;
      font-size: 32px;
      line-height: 46px;
    }
  }
  span {
    position: relative;
    display: inline;
    background: linear-gradient(
      270deg,
      #00c2ff,
      #33ff8c,
      #ffc640,
      #e54cff,
      #00c2ff,
      #33ff8c
    );
    background-size: 600% auto;
    color: transparent;
    // -webkit-text-fill-color: transparent;
    background-clip: text;
    // -webkit-background-clip: text;
    animation: shift 5s linear infinite;
  }
  h5 {
    color: #fff;
    font-family: Syne;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    @media screen and (max-width: 768px) {
      text-align: center;
      padding-bottom: 34px;
    }
  }
}

.middle {
  margin-block: 50px;
  background: linear-gradient(to bottom, #000000, #272727, #000000);

  border-radius: 20px;
  border: 1px solid #606060;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 85px;
  margin-right: 69px;
  @media screen and (max-width: 768px) {
    margin-left: 0px;
    margin-right: 0px;
    margin-block: 20px;
  }
  @media screen and (max-width: 1439px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.logo {
  padding-top: 24px;
  padding-bottom: 45px;
  @media screen and (max-width: 768px) {
    padding-bottom: 35px;
  }
  img {
    width: 250px;
    @media screen and (max-width: 768px) {
      width: 200px;
    }
  }
}

.money {
  display: flex;
  gap: 11px;
  padding-block: 5px;
  padding-inline: 11px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  position: relative;
  p {
    color: #fff;
    font-family: Syne;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 70px;
    height: 4%;
    background: rgba(255, 255, 255, 0.25);
    transform: translateY(-50%);
    @media screen and (max-width: 768px) {
      width: 25px;
    }
  }

  &:before {
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translateX(-100%);
  }

  &:after {
    right: 0;
    border-top-right-radius: 10px;
    transform: translateX(100%);
    border-bottom-right-radius: 10px;
  }
}

.bigMoney {
  display: flex;
  gap: 10px;
  padding-top: 50px;
  align-items: baseline;
  @media screen and (max-width: 768px) {
    padding-top: 30px;
  }
  h2 {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 102.4px;
    @media screen and (max-width: 768px) {
      font-size: 42px;
      line-height: 76.8px;
    }
  }
  h3 {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 41.6px;
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
}

.middleMoney {
  padding-top: 10px;
  padding-bottom: 28px;
  @media screen and (max-width: 768px) {
    padding-top: 0px;
  }
  h3 {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 44.8px;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.button {
  button {
    animation: pulse 3s ease-in-out infinite;

    border-radius: 3px;
    background: #4b3cff;
    box-shadow: 0px 10px 50px 0px rgba(75, 60, 255, 0.56);
    display: flex;
    border: none;
    padding-block: 15px;
    padding-inline: 20px;
    align-items: center;
    gap: 9px;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      padding-block: 10px;
      padding-inline: 10px;
      gap: 3px;
    }
    p {
      color: #fff;
      text-align: center;
      font-family: Syne;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      text-transform: uppercase;
      @media screen and (max-width: 768px) {
        font-size: 10px;
      }
    }
  }
}

.hr {
  width: 402.005px;
  height: 1px;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  margin-top: 28px;
  @media screen and (max-width: 768px) {
    width: 300px;
  }
}

.payments {
  padding-block: 55px;
  padding-inline: 55px;

  @media screen and (max-width: 768px) {
    padding-block: 30px;
    img {
      width: 280px;
    }
  }
}

.rightside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 17px;
  h3 {
    color: #fff;
    font-family: Syne;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    padding-bottom: 25px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.modules {
  display: flex;
  gap: 5px;
  align-items: center;
  @media screen and (max-width: 768px) {
    display: none;
  }
  p {
    color: #fff;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    white-space: nowrap;
  }
  img {
    width: 10px;
    height: 15px;
  }
}

.modulesResponsive {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-bottom: 17px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  p {
    color: #fff;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  img {
    width: 10px;
    height: 15px;
  }
}

@keyframes float1 {
  0%,
  100% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes float2 {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes float3 {
  0%,
  100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes float4 {
  0%,
  100% {
    transform: translateY(-120px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes shift {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1);
  }
  50% {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
  }
}
