.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 80px;
    align-items: center;
    padding-block: 50px;
    gap: 40px;
    @media screen and (max-width: 768px) {
        padding-inline: 20px;
    }
    button {
        text-transform: uppercase;
        background-color: #4b3cff;
        padding-inline: 20px;
        padding-block: 10px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        font-family: Montserrat;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #675aff;
            color: #fff;
            transform: translateY(-3px); /* Eleva levemente o botão */
            box-shadow: 0 4px 15px rgba(75, 60, 255, 0.5); /* Efeito de brilho */
        }

        &:active {
            transform: translateY(0); /* Remove a elevação ao clicar */
            box-shadow: none;
        }
    }
}

.top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    h2 {
        font-size: 40px;
        font-weight: 700;
        color: #fff;
        font-family: Montserrat;
        @media screen and (max-width: 768px) {
            font-size: 30px;
            text-align: center;
        }
        span {
            color: rgba(162, 158, 177, 0.8);
            padding-inline: 5px;
        }
    }
    p {
        color: #6154f9;
        font-size: 16px;
        font-weight: 400;
        font-family: Montserrat;
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }
    h5 {
        color: rgba(230, 228, 237, 0.8);
        font-size: 20px;
        font-weight: 400;
        font-family: Montserrat;
        text-align: center;
        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    h3 {
        color: #6154f9;
        font-size: 16px;
        font-weight: 400;
        font-family: Montserrat;
        display: flex;
        align-items: center;
        gap: 5px;
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }
    p {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        font-family: Montserrat;
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }
}

.middleTop {
    display: flex;
    gap: 20px;
    width: 100%;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.card1,
.card2,
.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0.0025) 100%
    );
    border: 1px solid rgba(255, 255, 255, 0.1); // Borda branca com 10% de opacidade
    border-radius: 10px;
    padding: 42px;
    min-height: 350px;
    @media screen and (max-width: 768px) {
        padding: 20px;
        min-height: 200px;
    }
}

.card1 {
    width: 60%;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.card2 {
    width: 40%;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.middleBottom {
    display: flex;
    width: 100%;
    gap: 20px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}
