.container {
    background: #030303;
    background-image: url('/backgroundAbout.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: white;
    font-family: 'PowerGrotesk';
    position: relative;
    margin-top: 220px;
    padding-bottom: 100px;

    @media only screen and (min-width: 768px) {
        background-image: url('/oferta.svg');
        background-size: contain;
        background-position: -30vw top;
        margin-top: 0px;
    }

    @media only screen and (min-width: 1540px) {
        background-position: -30% top;
    }
}

.wrapper {
    padding-top: 130px;
    font-family: 'PowerGrotesk';
    padding-inline: 20px;

    img {
        max-width: 50vh;
        object-fit: cover;
        margin-left: -7%;
        margin-top: 30px;
        z-index: 2;
        animation: moveUpDown 3s ease-in-out infinite;

        @media only screen and (min-width: 768px) {
            margin-top: -15%;
        }
    }

    @media only screen and (min-width: 768px) {
        max-width: 1440px;
        margin-inline: auto;
        padding-inline: 100px;
    }
}

.flexDesktop {
    @media only screen and (min-width: 768px) {
        display: flex;
        // align-items: center;
        justify-content: space-between;
    }
}

.titleBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
        color: #d7d7d7;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h2 {
        color: #fff;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        span {
            color: var(--Blue, #034cff);
        }
    }

    h6 {
        color: rgba(215, 215, 215, 0.5);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */

        @media only screen and (min-width: 768px) {
            max-width: 488px;
        }
    }
}

.checkBoxBlock {
    h5 {
        margin-top: 37px;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;

        @media only screen and (min-width: 768px) {
            font-size: 20px;
        }
    }

    p {
        color: #fff;
        margin-top: 10px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
        opacity: 0.6;
    }
}

/* Animação de movimento para cima e para baixo */
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px); /* Move para cima */
    }
    100% {
        transform: translateY(0); /* Retorna ao estado inicial */
    }
}

.imgLine {
    position: absolute;
    bottom: 0;

    @media only screen and (max-width: 768px) {
        display: none;
    }
}
