.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #000;
  border-radius: 10px;
  padding-block: 4rem;
  padding-inline: 3rem;
  max-width: 600px;
  width: 90%;
  color: #fff;
  text-align: center;

  h2 {
    font-family: "Galderglynn Titling Bd", sans-serif;
    font-size: 2vw;
    background: linear-gradient(90deg, #01d3d6 0%, #226ed2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (max-width: 768px) {
      font-size: 4vw;
    }
  }
}

.top {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.modalButtons {
  display: flex;
  gap: 50px;
  margin-top: 1.5rem;
  @media screen and (max-width: 768px) {
    gap: 20px;
  }
}

.modalButton {
  cursor: pointer;
  position: relative;
  border: solid 0.1vw rgba(0, 214, 252, 0.3);
  background: none;
  color: rgba(0, 214, 252, 1);
  font-family: "Galderglynn Titling Bd", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1.8px;
  width: 100%;
  height: 50px;
  padding: 0;
  transition: all 0.25s ease;
  outline: none;
  @media screen and (max-width: 768px) {
    font-size: 0.7rem;
    letter-spacing: 0;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 60px;
    height: 1px;
    transform: translateY(-1px);
    background: rgba(0, 214, 252, 1);
    transition: all 0.25s ease;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 60px;
    height: 1px;
    transform: translateY(1px);
    background: rgba(0, 214, 252, 1);
    transition: all 0.25s ease;
  }
  &:hover {
    box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
    color: rgba(0, 214, 252, 1);
    text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
    &.button:before {
      left: 0;
      width: 20px;
    }
    &.button:after {
      right: 0;
      width: 20px;
    }
    .line:before {
      bottom: 0;
    }
    .line:after {
      top: 0;
    }
  }
  .line {
    &:before {
      content: "";
      position: absolute;
      bottom: 30%;
      right: 0;
      width: 1px;
      height: 20px;
      transform: translateX(1px);
      background: rgba(0, 214, 252, 1);
      transition: all 0.25s ease;
    }
    &:after {
      content: "";
      position: absolute;
      top: 30%;
      left: 0;
      width: 1px;
      height: 20px;
      transform: translateX(-1px);
      background: rgba(0, 214, 252, 1);
      transition: all 0.25s ease;
    }
  }
}

.closeButton {
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: #01b7d0;
  }
}

.calendlyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  iframe {
    width: 100%;
    border: none;
  }
}

.backButton {
  align-self: flex-start;
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  &:hover {
    color: #01b7d0;
  }
}

.calendly-inline-widget {
  width: 100%;
  border: none;
}
