.container {
    background: #030303;
    background-image: url('/bannerD.webp');
    background-size: cover;
    height: 100vh;
    background-position: calc(50% - 20px) -130px;
    background-repeat: no-repeat;
    color: white;
    font-family: 'PowerGrotesk';
    position: relative;
}

.containerText {
    position: absolute;
    bottom: 260px;
    right: 20px;
    text-align: right;
    color: #606060;
    font-family: 'PowerGrotesk', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 97.5%;
    text-transform: uppercase;
    width: 50%;
}

.titleBanner {
    padding-top: 60vh;
    padding-inline: 20px;
    position: relative;
    text-align: left;
    .orcamento {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        background: #27d005;
        padding-block: 6px;
        padding-inline: 10px;
        border: none;
        color: #333;
        text-align: center;
        font-family: 'PowerGrotesk', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
    }

    h1 {
        color: #fff;
        font-size: 10vw;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        padding-bottom: 30px;
        position: relative;
        display: inline-block;
        text-align: left;
    }

    img {
        position: absolute;
        margin-top: 50px;
        left: 48%;
        transform: translateX(-50%);
        width: 95%;
        height: auto;
    }

    p {
        color: rgba(215, 215, 215, 0.5);
        font-family: 'PowerGrotesk', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 45px;
    }
}

.gridBackground {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
        linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
        url('/grid.svg') no-repeat;
    background: url('/grid.svg') no-repeat;
    background-size: cover;
    background-position: top;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.button {
    border: 1px solid #fff;
    background: linear-gradient(91deg, #0025ff -20%, #00a1ff 50%, #0025ff 120%);
    background-size: 300% 300%;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-family: 'PowerGrotesk', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.04px;
    width: 100%;
    display: flex;
    justify-content: center;
    animation: gradientCircle 4s linear infinite;
}

@keyframes gradientCircle {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
