.container {
  height: 150vh;
  position: relative;
  background: #010425;
  z-index: 999;
  transition: all 0.1s ease;

  @media only screen and (max-width: 768px) {
    height: 150vh;
    // padding-bottom: 2000px;
  }
  .sticky {
    position: sticky;
    overflow: hidden;
    top: 0;
    height: 90vh;

    .el {
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      @media only screen and (max-width: 768px) {
        height: 50%;
        margin-top: 40%;
      }

      .imageContainer {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        p {
          color: white;
          font-size: 56px;
          margin-top: 3%;
          font-family: Syne;
          font-style: normal;
          font-weight: 600;
          text-align: center;
          // -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;

          span {
            position: relative;
            display: inline;
            background: linear-gradient(
              270deg,
              #00c2ff,
              #33ff8c,
              #ffc640,
              #e54cff,
              #00c2ff,
              #33ff8c
            );
            background-size: 600% auto;
            color: transparent;
            // -webkit-text-fill-color: transparent;
            background-clip: text;
            // -webkit-background-clip: text;
            animation: shift 5s linear infinite;
          }

          @media only screen and (max-width: 768px) {
            font-size: 36px;
            margin-top: 0%;
            text-align: center;
          }
        }
      }
    }
  }
}

.endClass {
  position: absolute !important;
}

.startClass {
  position: fixed !important;
}

@keyframes shift {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
