.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 80px;
    align-items: center;
    padding-block: 50px;
    gap: 40px;
    @media screen and (max-width: 768px) {
        padding-inline: 20px;
        padding-block: 20px;
    }
}

.top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    h2 {
        font-size: 40px;
        font-weight: 700;
        color: #fff;
        font-family: Montserrat;
        @media screen and (max-width: 768px) {
            font-size: 30px;
            text-align: center;
        }
    }
    p {
        color: #6154f9;
        font-size: 16px;
        font-weight: 400;
        font-family: Montserrat;
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }
    h5 {
        color: rgba(230, 228, 237, 0.8);
        font-size: 20px;
        font-weight: 400;
        font-family: Montserrat;
        text-align: center;
        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }
}

.middle {
    display: flex;
    justify-content: center;
    gap: 20px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.card {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0.0025) 100%
    );
    border: 1px solid rgba(255, 255, 255, 0.1); // Borda branca com 10% de opacidade
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    hr {
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.cardTop {
    display: flex;
    align-items: center;
    gap: 10px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
    }
    h3 {
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        font-family: Montserrat;
    }
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
    h5 {
        color: rgba(162, 158, 177, 0.8);
        font-size: 16px;
        font-weight: 400;
        font-family: Montserrat;
    }
}
