.container {
  background: linear-gradient(to right, #000616, rgba(0, 6, 22, 0.8));
}

.whatsappIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  cursor: pointer;
  img {
    width: 100%;
  }
}
