.container {
  background: linear-gradient(to right, #ffffff, #f5f5f5);
}

.whatsappIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  cursor: pointer;
  img {
    width: 100%;
  }
}
