.container {
  border-radius: 4px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.texts {
  display: flex;
  flex-direction: column;
  padding-block: 30px;
  padding-left: 25px;
  gap: 12px;
}

.top {
  h4 {
    font-family: Syne;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    background: linear-gradient(90deg, #4b3cff 0%, #fa00ff 100%);
    background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
}

.title {
  h3 {
    color: #fff;
    font-family: Syne;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
  }
}

.body {
  width: 90%;
  padding-bottom: 5px;
  h5 {
    color: #fff;
    font-family: Syne;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
}

.hr {
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
}

.bottom {
  display: flex;
  justify-content: flex-end;
  padding-block: 10px;
  padding-right: 12px;
  h4 {
    color: #fff;
    font-family: Syne;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 38.4px;
  }
  span {
    background: linear-gradient(269deg, #fa00ff -34.16%, #2d2499 60.28%);
    background-clip: text;
    text-decoration: line-through;
  }
}
