.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9); /* Fundo inicial */
  transition: background 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 80px;
  align-items: center;
  padding-block: 15px;
  @media screen and (max-width: 768px) {
    padding-inline: 20px;
  }
}

.leftside {
  display: flex;
  align-items: center;
  gap: 20px;
  img {
    width: 180px;
    @media screen and (max-width: 768px) {
      width: 120px;
    }
  }
  hr {
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 20px 0;
    width: 2px;
    height: 40px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  p {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.rightside {
  button {
    border: 1px solid #4b3cff;
    background-color: rgba(75, 60, 255, 0.05);
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 5px;
    color: #4b3cff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease-in-out;

    img {
      transition: transform 0.3s ease-in-out; /* Adiciona efeito ao ícone */
    }

    &:hover {
      color: #fff; /* Muda a cor do texto */
      border-color: #4b3cff; /* Mantém o contorno da mesma cor */
      box-shadow: 0 4px 15px rgba(75, 60, 255, 0.5); /* Adiciona uma sombra ao hover */

      img {
        transform: rotate(15deg) scale(1.1); /* Gira e aumenta o ícone levemente */
      }
    }

    &:active {
      transform: scale(0.95); /* Leve redução ao clicar */
      box-shadow: none; /* Remove a sombra */
    }
  }
}
