.container {
  background-image: url("/back.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-block: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  margin: 0 auto;
  padding: 42px;
  align-items: center;
  gap: 20px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.0025) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  hr {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  button {
    text-transform: uppercase;
    background-color: #4b3cff;
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    font-family: Montserrat;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #675aff;
      color: #fff;
      transform: translateY(-3px); /* Eleva levemente o botão */
      box-shadow: 0 4px 15px rgba(75, 60, 255, 0.5); /* Efeito de brilho */
    }

    &:active {
      transform: translateY(0); /* Remove a elevação ao clicar */
      box-shadow: none;
    }
  }
}

.logo {
  img {
    width: 150px;
  }
}

.price {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  h5 {
    color: rgba(162, 158, 177, 0.8);
    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat;
    span {
      color: rgba(162, 158, 177, 0.6);
      text-decoration: line-through;
    }
  }
  h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    font-family: Montserrat;
  }
}

.middle {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
  h4 {
    color: rgba(162, 158, 177, 0.8);
    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat;
  }
}
