.container {
  background: #4b3cff;
}

.content {
  padding-block: 15px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.middle {
  display: flex;
  justify-content: center;
  h3 {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
  }
}
