.container {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("/lightyoutube.svg");
    background-position: 50%;
    background-size: cover;
    filter: blur(4px);
    border-radius: 20px;
    z-index: 0;
  }
}

.container:hover {
  transform: scale(1.05); /* Adjust the scale value to control the zoom level */
}

.content,
.icon,
.text {
  transition: transform 0.3s ease-out;
}

.lightEffect {
  position: absolute;
  width: 200px;
  height: 200px;
  pointer-events: none;
  border-radius: 50%;
  transition:
    opacity 0.3s ease-out,
    transform 0.2s ease-out;
  opacity: 0;
  will-change: transform, opacity;
}

.content {
  display: flex;
  flex-direction: column;
  padding-block: 34px;
  padding-left: 38px;
  gap: 14px;
  @media screen and (max-width: 768px) {
    padding-inline: 30px;
  }
}

.icon {
  z-index: 3;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 14px;
  z-index: 3;
  h2 {
    color: #fff;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    letter-spacing: -1.7px;
  }
  h5 {
    color: #b8b8b8;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}
