.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #1e1e1e;
  padding: 10px 20px;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 110px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  @media screen and (max-width: 768px) {
    margin-top: 75px;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;

    span {
      font-size: 16px;
      font-family: Montserrat;

      del {
        color: rgba(30, 30, 30, 0.5);
        font-family: Montserrat;
      }

      strong {
        color: #6154f9;
        font-weight: 600;
      }
    }
  }

  .button {
    background: #6154f9;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: Montserrat;

    &:hover {
      background: #7f56d9;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 15px;

    .info {
      justify-content: center;
      text-align: center;

      span {
        font-size: 14px;
      }
    }

    .button {
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: 480px) {
    padding: 10px;

    .info {
      gap: 10px;

      span {
        font-size: 12px;
      }
    }

    .button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
}
